/** POSTS TEASERS **/
/* line 2, ../../app/stylesheets/posts.scss */
h1.mini-header { font-size: 11px; text-transform: uppercase; color: #ccc; background: #efefef; padding: 0px; line-height: 12px; }

/* line 4, ../../app/stylesheets/posts.scss */
.mini-header span { background: #fff; padding-left: 10px; line-height: 12px; margin: 0; padding: 1px 6px 2px 1px; }

/* line 6, ../../app/stylesheets/posts.scss */
.post_teaser { position: relative; background: #fff; width: 660px; display: block; border-bottom: 1px dotted #ddd; padding-top: 14px; padding-bottom: 3px; margin-bottom: 1px; }
/* line 17, ../../app/stylesheets/posts.scss */
.post_teaser h2 a { color: #174b7f; margin: 0; padding: 0; text-decoration: none; font-size: 20px; line-height: 26px; }
/* line 25, ../../app/stylesheets/posts.scss */
.post_teaser p { margin: 8px 0 15px 0; padding: 0; line-height: 22px; width: 340px; }
/* line 31, ../../app/stylesheets/posts.scss */
.post_teaser p span { font-size: 11px; text-transform: uppercase; font-weight: bold; color: #333; }
/* line 38, ../../app/stylesheets/posts.scss */
.post_teaser span.tag-type-1 { color: #34c15c; }
/* line 39, ../../app/stylesheets/posts.scss */
.post_teaser span.tag-type-2 { color: #2e7eb7; }
/* line 40, ../../app/stylesheets/posts.scss */
.post_teaser span.tag-type-3 { color: #ff8000; }
/* line 41, ../../app/stylesheets/posts.scss */
.post_teaser span.tag-type-4 { color: #2566a9; }
/* line 43, ../../app/stylesheets/posts.scss */
.post_teaser .post_links { font-size: 12px; }
/* line 46, ../../app/stylesheets/posts.scss */
.post_teaser img { position: absolute; top: 18px; right: 491px; }
/* line 51, ../../app/stylesheets/posts.scss */
.post_teaser .content { margin-left: 180px; min-height: 100px; position: relative; }
/* line 56, ../../app/stylesheets/posts.scss */
.post_teaser .post_description { position: relative; }
/* line 60, ../../app/stylesheets/posts.scss */
.post_teaser .twitter-share-button { position: absolute; top: -1px; right: 0; }
/* line 61, ../../app/stylesheets/posts.scss */
.post_teaser #fb-root { position: absolute; bottom: 0; left: 0; }

/* line 64, ../../app/stylesheets/posts.scss */
.with_image { margin-left: 250px; }

/* line 66, ../../app/stylesheets/posts.scss */
.teaser_social_helper { position: absolute; top: 0px; right: 15px; width: 115px; }

/** POSTS FULL **/
/* line 70, ../../app/stylesheets/posts.scss */
.post { background: url(/images/temp_posst_back.jpg) top left no-repeat; }
/* line 72, ../../app/stylesheets/posts.scss */
.post h1 { font-size: 28px; line-height: 60px; }
/* line 73, ../../app/stylesheets/posts.scss */
.post .post_author { margin-bottom: 5px; line-height: 50px; }
/* line 76, ../../app/stylesheets/posts.scss */
.post .post_author img { float: left; margin-right: 12px; }
/* line 80, ../../app/stylesheets/posts.scss */
.post .post_posted { font-size: 11px; margin: 0; padding: 0; }
/* line 81, ../../app/stylesheets/posts.scss */
.post .post_content { padding-top: 15px; border-top: 2px solid #666; }
/* line 84, ../../app/stylesheets/posts.scss */
.post .post_content img { float: left; margin-right: 12px; }

/** POSTS BOX **/
/* line 91, ../../app/stylesheets/posts.scss */
ul.small_teaser { border-top: 1px solid #ccc; }
/* line 93, ../../app/stylesheets/posts.scss */
ul.small_teaser li { list-style: none; position: relative; display: block; margin-bottom: 8px; }
/* line 94, ../../app/stylesheets/posts.scss */
ul.small_teaser ul { border-bottom: 1px solid #ccc; min-height: 30px; clear: both; min-height: 65px; }
/* line 96, ../../app/stylesheets/posts.scss */
ul.small_teaser li.small_teaser_title, ul.small_teaser li.small_teaser_social { margin-left: 80px; }
/* line 97, ../../app/stylesheets/posts.scss */
ul.small_teaser li.small_teaser_social { margin-top: 6px; height: 20px; width: 55px; }
/* line 98, ../../app/stylesheets/posts.scss */
ul.small_teaser li.small_teaser_title a { text-decoration: none; font-size: 14px; font-weight: bold; color: #174b7f; }
/* line 99, ../../app/stylesheets/posts.scss */
ul.small_teaser li img { position: absolute; top: 0; left: 0; margin-right: 5px; background: #fff; padding: 3px; border: 1px solid #dedede; }

/** POST FORM **/
/* line 104, ../../app/stylesheets/posts.scss */
.post_form { background: #fff; border: 1px solid #ccc; padding: 20px; }
/* line 105, ../../app/stylesheets/posts.scss */
.post_form li { display: block; line-height: 28px; padding: 1px; }
/* line 109, ../../app/stylesheets/posts.scss */
.post_form li div.field_with_errors { clear: none; background: #ec4343; display: block; }
/* line 113, ../../app/stylesheets/posts.scss */
.post_form li div.field_with_errors label, .post_form li div.field_with_errors input { display: inline; padding: 4px; }
/* line 119, ../../app/stylesheets/posts.scss */
.post_form label { width: 80px; display: block; float: left; font-size: 12px; text-align: right; margin-right: 5px; }
/* line 120, ../../app/stylesheets/posts.scss */
.post_form input, .post_form textarea { padding: 2px; font-size: 14px; width: 300px; color: #333; border: 1px solid #ccc; }
/* line 121, ../../app/stylesheets/posts.scss */
.post_form h3 { line-height: 32px; background: #efefef; margin: 10px 0 5px; padding-left: 5px; }
/* line 122, ../../app/stylesheets/posts.scss */
.post_form span { font-size: 11px; color: #999; }
/* line 123, ../../app/stylesheets/posts.scss */
.post_form .submission input { background: #45a6d1; padding: 5px 10px; color: #fff; width: 120px; margin-top: 40px; }
