/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 12, ../../app/stylesheets/screen.scss */
body { font-family: Arial, Cambria, Verdana, Helvetica, sans-serif; background: #f9f9f9; }

/* line 14, ../../app/stylesheets/screen.scss */
h1, h2, h3 { font-weight: bold; }

/* line 15, ../../app/stylesheets/screen.scss */
p { color: #666; }

/* line 16, ../../app/stylesheets/screen.scss */
a:hover { border: none; background: none; }

/* line 17, ../../app/stylesheets/screen.scss */
body { background: url(/images/top_strap.jpg) top repeat-x; }

/* line 19, ../../app/stylesheets/screen.scss */
.block { background: #efefef; padding: 10px; }
/* line 20, ../../app/stylesheets/screen.scss */
.block h2 { font-size: 22px; }
/* line 23, ../../app/stylesheets/screen.scss */
.block .blockContent { border: 1px solid #ccc; padding: 20px; background: #fff; }
/* line 28, ../../app/stylesheets/screen.scss */
.block label { text-transform: uppercase; font-size: 11px; }

/* line 33, ../../app/stylesheets/screen.scss */
.pageWrapper { width: 980px; margin: 0 auto; position: relative; }

/* line 39, ../../app/stylesheets/screen.scss */
#header { padding: 6px 0; margin: 0 0 10px 0; }
/* line 43, ../../app/stylesheets/screen.scss */
#header #headerStrap { height: 73px; }
/* line 47, ../../app/stylesheets/screen.scss */
#header #navStrap { height: 43px; }
/* line 49, ../../app/stylesheets/screen.scss */
#header #navStrap ul, #header #navStrap li { list-style: none; display: block; }
/* line 50, ../../app/stylesheets/screen.scss */
#header #navStrap ul li { float: left; }
/* line 51, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a { line-height: 44px; height: 44px; padding: 15px 30px; text-decoration: none; text-transform: uppercase; color: #333; font-weight: bold; }
/* line 56, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a:hover { color: #ccc; }
/* line 57, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a.selected { background: url(/images/nav_select.jpg) top repeat-x; color: #333; }
/* line 66, ../../app/stylesheets/screen.scss */
#header #sign_in { position: absolute; top: 18px; right: 0px; height: 38px; width: 200px; background: url(/images/sign_in.jpg) center center no-repeat; }
/* line 73, ../../app/stylesheets/screen.scss */
#header #sign_in a { color: #bbb; text-decoration: none; padding: 10px 0px 10px 30px; line-height: 38px; }

/* line 82, ../../app/stylesheets/screen.scss */
#body { min-height: 500px; }

/* line 86, ../../app/stylesheets/screen.scss */
#footer { border-top: 1px solid #efefef; padding: 10px 0; margin: 10px 0 0 0; background: #d9d9d9; min-height: 200px; }
/* line 92, ../../app/stylesheets/screen.scss */
#footer ul { float: left; width: 220px; margin: 10px 10px 20px 0; }

/* line 97, ../../app/stylesheets/screen.scss */
.leftCol { float: left; width: 660px; }

/* line 98, ../../app/stylesheets/screen.scss */
.rightCol { float: left; width: 300px; margin-left: 15px; }

/* line 99, ../../app/stylesheets/screen.scss */
h2 span { color: #ff9000; font-style: oblique; }

/* line 101, ../../app/stylesheets/screen.scss */
.clearfix { clear: both; line-height: 1; height: 1px; }
