/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-rc2@rails3tutorial/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 12, ../../app/stylesheets/screen.scss */
body { font-family: Arial, Cambria, Verdana, Helvetica, sans-serif; }

/* line 14, ../../app/stylesheets/screen.scss */
h1, h2, h3 { font-weight: bold; }

/* line 15, ../../app/stylesheets/screen.scss */
p { color: #666; }

/* line 16, ../../app/stylesheets/screen.scss */
a:hover { border: none; background: none; }

/* line 17, ../../app/stylesheets/screen.scss */
body { background: url(/images/top_strap.jpg) top repeat-x; }

/* line 19, ../../app/stylesheets/screen.scss */
.pageWrapper { width: 980px; margin: 0 auto; }

/* line 23, ../../app/stylesheets/screen.scss */
#header { padding: 6px 0; margin: 0 0 10px 0; }
/* line 27, ../../app/stylesheets/screen.scss */
#header #headerStrap { height: 73px; }
/* line 31, ../../app/stylesheets/screen.scss */
#header #navStrap { height: 43px; }
/* line 33, ../../app/stylesheets/screen.scss */
#header #navStrap ul, #header #navStrap li { list-style: none; display: block; }
/* line 34, ../../app/stylesheets/screen.scss */
#header #navStrap ul li { float: left; }
/* line 35, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a { line-height: 44px; height: 44px; padding: 15px 30px; text-decoration: none; text-transform: uppercase; color: #333; font-weight: bold; }
/* line 40, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a:hover { color: #ccc; }
/* line 41, ../../app/stylesheets/screen.scss */
#header #navStrap ul li a.selected { background: url(/images/nav_select.jpg) top repeat-x; color: #333; }

/* line 53, ../../app/stylesheets/screen.scss */
#footer { border-top: 1px solid #efefef; padding: 10px 0; margin: 10px 0 0 0; }
