<div id="navStrap">
  <ul>
    <li><a href="" class="selected">Home</a></li>
    <li><a href="">Stay</a></li>
    <li><a href="">Fly</a></li>
    <li><a href="">Fun</a></li>
    <li><a href="">Deals</a></li>
  </ul>
</div><!-- #navStrap -->