<div id="navStrap">
  <ul>
    <li><%= tab_selector("Home", root_path, :title => 'title') %></li>  
    <li><%= link_to "Stay", stay_index_path  %></li>
    <li><%= link_to "Fly", fly_index_path  %></li>
    <li><%= link_to "Deals", deals_index_path  %></li>
  </ul>
</div><!-- #navStrap -->     
                                                            