<div id="navStrap">
  <ul>
    <li><%= nav_helper("Home", root_path, "Return Home, not really", "home") %></li>  
    <li><%= nav_helper("Latest Travel News",  posts_index_path, "Find a place to stay", "posts") %></li>
    <li><%= nav_helper("Accommodation Deals",  destinations_index_path, "Find a place to stay", "destinations") %></li>

   
  </ul>

 
</div><!-- #navStrap -->     
                                                            