



<div class="loginStrap">
  <div class="pageWrapper">
    Welcome to odation.
     <a href="/auth/facebook">
        <%= image_tag "fb_signin.jpg", :alt => "Facebook" %>

      </a> or 
      
      <a href="/auth/twitter">
      <%= image_tag "twitter_signin.jpg", :alt => "Twitter" %>

    </a>
    
    to get started.
                             
   <a href="#" class="hide">Close</a>
  </div><!-- .pageWrapper -->
</div><!-- .loginStrap -->

