<%= page_title "Odation Flights Deals and Information" %>
                                                              
<h1>Flight Deals Information - Coming Soon</h1>

<p>An airline provides air transport services for passengers and/or freight. Airlines lease or own their aircraft with which to supply these services and may form partnerships or alliances with other airlines for mutual benefit. Generally, airline companies are recognized with an air operating certificate or license issued by a governmental aviation body.</p><p>Airlines vary from those with a single aircraft carrying mail or cargo, through full-service international airlines operating hundreds of aircraft. Airline services can be categorized as being intercontinental, intra-continental, domestic, regional, or international, and may be operated as scheduled services or charters.</p>         

<div id="fb-root"></div> 
<div id="login"></div> 
<div id="test"></div> 
<div id="movies"></div> 
<script src="http://connect.facebook.net/en_US/all.js"></script> 
<script> 
FB.init({
    appId  : '109302305823116',
    status : true, // check login status
    cookie : true, // enable cookies 
    xfbml  : true  // parse XFBML
  });
FB.Event.subscribe('auth.sessionChange', function(response) {
  window.location.reload();
});
FB.getLoginStatus(function(response) {
  if (response.session) {
    // logged in and connected user, someone you know
    get_friend_likes();
    document.getElementById('login').innerHTML
      ='<a href="#" onclick="FB.logout();">Logout</a><br/>';
  } else {
    document.getElementById('login').innerHTML
      ='<fb:login-button show-faces="true" width="200"' 
      + ' max-rows="1" perms="user_likes, friends_likes">'
      + '</fb:login-button>';
    FB.XFBML.parse();
  }
});
</script>   