/** POSTS TEASERS **/
h1.mini-header { font-size: 11px; text-transform: uppercase; color: #ccc; background: #efefef; padding: 0px; line-height: 12px;}

.mini-header span { background: #fff; padding-left: 10px; line-height: 12px; margin: 0; padding: 1px 6px 2px 1px}

.post_teaser { 
	position: relative;
	background: #fff; 
	width: 660px; 
	display: block;
	border-bottom: 1px dotted #ddd;
 	padding-top: 14px;

	
	padding-bottom: 3px;
	margin-bottom: 1px;
	h2 a { 
		color: #174b7f; 
		margin: 0; 
		padding: 0; 
		text-decoration: none; 
		font-size: 20px; 
		line-height: 26px;
	}
	p { 
		margin: 8px 0 15px 0; 
		padding: 0; 
		line-height: 22px;
		width: 340px;
	}
	p span  {
		font-size: 11px; 
		text-transform: 
		uppercase; 
		font-weight: bold;
		color: #333;
	}
	span.tag-type-1 { color: #34c15c;}
	span.tag-type-2 { color: #2e7eb7;}
	span.tag-type-3 { color: #ff8000;}
	span.tag-type-4 { color: #2566a9;}
	
	.post_links {
		font-size: 12px;
	}
	img { 
		position: absolute; 
		top: 18px; 
		right: 491px;
}
	.content { 
		margin-left:180px; 
		min-height: 100px;
		position: relative;
	}
	.post_description {
		position: relative;
	} 
	
	.twitter-share-button { position: absolute; top: -1px; right: 0}
	#fb-root { position: absolute; bottom: 0; left: 0; }
	}
	
.with_image { margin-left: 250px;}	                       

.teaser_social_helper { position: absolute; top: 0px; right: 15px;width: 115px;}

/** POSTS FULL **/

.post { 
	background: url(/images/temp_posst_back.jpg) top left no-repeat; 
	h1 { font-size: 28px; line-height: 60px;}
	.post_author { 
		margin-bottom: 5px;
		line-height: 50px;
		img { 
			float: left; 
			margin-right: 12px; }
		}
		.post_posted { font-size: 11px; margin: 0; padding: 0;}
	  .post_content {
		padding-top: 15px; 
		border-top: 2px solid #666; 
		img { 
			float: left; 
			margin-right: 12px; }
		}
	}
	
 /** POSTS BOX **/
ul.small_teaser {
	border-top: 1px solid #ccc;
  li { list-style: none;position: relative; display: block; margin-bottom: 8px;   }
	ul  { border-bottom: 1px solid #ccc; min-height: 30px; }

	li.small_teaser_title, li.small_teaser_social {margin-left: 80px;  }
	li.small_teaser_social { margin-top: 6px; height: 20px; width: 55px;}
	li.small_teaser_title a {text-decoration: none; font-size: 14px; font-weight: bold; color: #174b7f;  }
	li img { position: absolute; top: 0; left: 0; margin-right: 5px;
		background: #fff; padding: 3px; border: 1px solid #dedede; }
	}

 