/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Colors 

$primaryborders : #efefef;

body {font-family: Arial, Cambria, Verdana, Helvetica, sans-serif; background: #f9f9f9; }

h1, h2, h3 { font-weight: bold;}
p { color: #666;}
a:hover { border: none; background: none;}
body { background: url(/images/top_strap.jpg) top repeat-x}

.block {
	h2 { font-size: 22px; } 
 	background: #efefef;
	padding: 10px;
 	.blockContent { 
		border: 1px solid #ccc; 
		padding: 20px; 
		background: #fff;
	}
	label { 
		text-transform: uppercase; 
		font-size: 11px; }
}

.pageWrapper { 
	width: 980px; 
	margin: 0 auto;
	position: relative;
	} 

#header { 

	padding: 6px 0;
	margin: 0 0 10px 0;
	#headerStrap {
		height: 73px;
	}
	
	#navStrap {
		height: 43px;
		ul, li { list-style: none;  display: block;}
		ul li { float: left;
			a {
			 line-height: 44px; height: 44px; padding: 15px 30px;
			text-decoration: none; text-transform: uppercase;
			color: #333; font-weight: bold;	
			}
			a:hover {  color: #ccc}
			a.selected {
				background: url(/images/nav_select.jpg) top repeat-x;
				color: #333;
				
			}
		}

		
	}
	#sign_in {     
		position: absolute; 
		top: 18px;
		right: 0px;
		height: 38px;
		width: 200px;
		background: url(/images/sign_in.jpg) center center no-repeat;
		a { color: #bbb;
			text-decoration: none;

			padding: 10px 0px 10px 30px;
			line-height: 38px;}
	}
	
	}

#body { 
	min-height: 500px;
	}

#footer { 
	border-top: 1px solid $primaryborders;
	padding: 10px 0;
	margin: 10px 0 0 0;
	background: #d9d9d9 ;
	min-height: 200px;
	}