/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$primaryborders : #efefef; 

@import "compass/reset";

// Colors 



body {font-family: Arial, Cambria, Verdana, Helvetica, sans-serif; background: #f9f9f9; }

h1, h2, h3 { font-weight: bold;} 
h1 { font-size: 24px; line-height: 46px; color: #2871b4	;}  
h2 { font-size: 18px; line-height: 36px;}  
p { color: #666; padding-bottom: 26px;line-height: 22px; font-size: 12px;}
a:hover { border: none; background: none;}
 


.loginStrap { 
	background: #34c15c; 
	color: #fff; 
	text-shadow: #666 1px 1px 1px; 
	padding: 5px 0; 
	border-bottom: 1px solid #fff; 
	font-weight: bold; 
	line-height: 40px; 
	img { 
		margin: 0 5px -6px;
	} 
	a { 
		text-decoration: none;
	}
	a.hide { 
		position: absolute; 
		top: 2px; 
		right: 3px; 
		padding-left:25px; 
		background: url(/images/close_icon.jpg) center left no-repeat; 
		font-size: 12px; 
		font-weight: normal; 
		text-decoration: none; 
		color: #fff;
		text-shadow: none; 
	}
}
	
.page { 
	background: url(/images/top_strap.jpg) top repeat-x;
}

.pageWrapper { 
	width: 980px; 
	margin: 0 auto;
	position: relative;
}

#body { 
	min-height: 500px;
	}

.block {
	h2 { font-size: 22px; } 
 	background: #efefef;
	padding: 10px;
	margin-bottom: 10px;
 	.blockContent { 
		border: 1px solid #ccc; 
		padding: 20px; 
		background: #fff;
	}
	label { 
		text-transform: uppercase; 
		font-size: 11px; }
}



#header { 
	padding: 6px 0;
	margin: 0 0 10px 0;
	#headerStrap {
		height: 73px;
	}
	
	#navStrap {
		height: 43px;
		ul, li { list-style: none;  display: block;}
		ul li { float: left;
			a {
			 line-height: 44px; height: 44px; padding: 15px 30px;
			text-decoration: none; text-transform: uppercase;
			color: #333; font-weight: bold;	
			}
			a:hover {  color: #ccc}
			a.selected {
				background: url(/images/nav_select.jpg) top repeat-x;
				color: #333;
				
			}
		}

		
	}
	#sign_in {     
		position: absolute; 
		top: 18px;
		right: 0px;
		height: 38px;
		width: 200px;
		background: url(/images/sign_in.jpg) center center no-repeat;
		a { color: #bbb;
			text-decoration: none;

			padding: 10px 0px 10px 30px;
			line-height: 38px;}
	}
	
	}



#footer { 
	border-top: 1px solid $primaryborders;
	padding: 10px 0;
	margin: 10px 0 0 0;
	background: #d9d9d9 ;
	min-height: 200px;
	ul { 
		float: left;
		width: 220px;
		margin: 10px 10px 20px 0;
		li a{ 
			text-decoration: none;
			font-size: 12px;
			line-height: 18px;
			}
		}
	}
.leftCol { float: left; width: 660px; }
.rightCol { float: left; width: 300px; margin-left: 15px; }
h2 span { color: #ff9000; font-style: oblique;}
	
.clearfix { clear: both; line-height: 1; height: 1px;}  

@import "admin";

@import "posts";
