<%= page_title("Odation - A different approach to travel") %>


  <h1>Welcome to Odation</h1>

<div id="searchBox" class="block">
  <div class="blockContent">   
     <h2>Because people talk about <span>Great</span> Experiences</h2>

  </div>
</div><!-- .searchBox -->   

<h2>Fairness</h2>

<p>Distributive justice concerns what some consider to be socially just with respect to the allocation of goods in a society. Thus, a community in which incidental inequalities in outcome do not arise would be considered a society guided by the principles of distributive justice[citation needed]. Allocation of goods takes into thought the total amount of goods to be handed out, the process on how they in the civilization are going to dispense, and the pattern of division.</p>
<p>Often contrasted with just process, which is concerned with the administration of law, distributive justice concentrates on outcomes and consequences. A prominent contemporary theorist of distributive justice is the philosopher John Rawls, although this subject matter has now received wide treatment across philosophy and the social sciences (see James Konow, 2003).</p>


<% content_for :rightCol do %>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FOdation%2F166209226773601&amp;width=300&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:427px;" allowTransparency="true"></iframe> 
<% end %>
