<% page_title("Latest Travel Stories from around the globe.") %>

<h1 class="mini-header"><span>All Posts</span></h1>

  <%= render 'posts' %>

  <br/>   

<%= admin_area do %>
  <%=  link_to 'Add a New Post', new_post_path %>
<% end %>

<% content_for :rightCol do %>

<% end %>     


