<%= page_title "A new look at Accommodation" %>
                                                              
<h1>Accommodation Information</h1>

<% @destinations.each do |destination| %>
  <div style="position: relative; width: 660px; display: block;">
   

    <h2><%=  destination.title %> Accommodation Deals</h2>
    <p><%= destination.description %>  </p>
  
  </div>
<% end %>
<br/>


