<%= page_title "A new look at Accommodation" %>
                                                              
<h1>Accommodation Information</h1>

<% @destinations.each.limit(1) do |destination| %>
  <div style="position: relative; width: 660px; display: block;">
    <%= social_helpers(destination.id, destination.title, destination.description, "box") %>  

    <h2><%=  destination.title %> Accommodation Deals</h2>
    <p><%= destination.description %>  </p>
  
  </div>
<% end %>
<br/>


